.header {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.file {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.file_list {
    overflow: auto;
    height: 100px;
}